<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Detalhes</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="detalhes">
            <h1> <%= poke.nome %>  </h1>
            <img src="<%= poke.imagem %>" alt="Imagem do Pokémon">
            <table>
                <thead>
                    <th colspan="2"> Detalhes </th>
                </thead>
                <tbody>
                    <tr>
                        <td> Nome </td>
                        <td> <%= poke.nome %> </td>
                    </tr>

                    <tr>
                        <td> Número </td>
                        <td> <%= poke.numero %> </td>
                    </tr>
    
                    <tr>
                        <td> Tipo </td>
                        <td> <%= poke.tipo %> </td>
                    </tr>

                    <tr>
                        <td> Descrição </td>
                        <td> <%= poke.descricao %> </td>
                    </tr>

                    <tr>
                        <td> Altura </td>
                        <td> <%= poke.altura %> </td>
                    </tr>

                    <tr>
                        <td> Peso </td>
                        <td> <%= poke.peso %> </td>
                    </tr>

                    <tr>
                        <td> Categoria </td>
                        <td> <%= poke.categoria %> </td>
                    </tr>

                    <tr>
                        <td> Habilidade </td>
                        <td> <%= poke.habilidade %> </td>
                    </tr>
                    
                </tbody>
            </table>
        </section>

        
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>